<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Artificial Intelligence in Action (AIIA) is a graduate student association at the Harvard Kennedy School.</h2>
                <hr class="light">
                <p class="text-faded">Data scientists, engineers, mathematicians, policy-makers and tech enthusiasts come together at the Harvard Kennedy School to help
shape the future of government through data-driven and value-based innovation.</p>
                 <p class="text-faded"> </p>
                <p class="text-faded">We are dedicated to introducing artificial intelligence, machine learning, data science, and predictive analytics to the members of the Harvard Kennedy School community. We create connections among tech professionals in the public and private sector.</p>
                <a href="#contact" class="btn btn-default btn-xl">Get Involved!</a>
            </div>
        </div>
    </div>
</section>
