<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-16 col-lg-offset-2 text-center">
                <h2 class="section-heading">Artificial Intelligence in Action (AIIA) is a graduate student association at the Harvard Kennedy School.</h2>
                <hr class="light">
                <p class="text-faded">Data scientists, engineers, and mathematicians by background, as well as tech enthusiasts come together at the Harvard Kennedy School to help
shaping the future of government through data-driven and value-based innovation in the public sector.</p>
                 <p class="text-faded"> </p>
                <p class="text-faded">We are dedicated to introduce artificial intelligence technologies such as machine learning, data science, and predictive analytics to the members of the Harvard Kennedy School community as well as to connect them with tech professionals in the public and private sector.</p>
                <a href="#services" class="btn btn-default btn-xl">Get Involved!</a>
            </div>
        </div>
    </div>
</section>
