<section class="no-padding" id="board_members">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-4">
                <a href="https://www.linkedin.com/in/cnk" class="portfolio-box">
                    <img src="img/portfolio/Chris.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                President
                            </div>
                            <div class="project-name">
                                Chris
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-4">
                <a href="https://www.rianabshah.com/" class="portfolio-box">
                    <img src="img/portfolio/Riana.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Co-President
                            </div>
                            <div class="project-name">
                                Riana
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-4">
                <a href="https://www.linkedin.com/in/david-stansbury-4b296235/" class="portfolio-box">
                    <img src="img/portfolio/David.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Co-President
                            </div>
                            <div class="project-name">
                                David
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-4">
                <a href="https://www.linkedin.com/in/medha-patki" class="portfolio-box">
                    <img src="img/portfolio/Medha.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                VP
                            </div>
                            <div class="project-name">
                                Medha
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-4">
                <a href="https://www.linkedin.com/in/kdiallo/" class="portfolio-box">
                    <img src="img/portfolio/Kadija.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                VP
                            </div>
                            <div class="project-name">
                                Kadija
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-4">
                <a href="https://www.linkedin.com/in/rainagandhi" class="portfolio-box">
                    <img src="img/portfolio/Raina.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                VP
                            </div>
                            <div class="project-name">
                                Raina
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-4">
                <a href="https://www.linkedin.com/in/dana-mekler-00960a51/" class="portfolio-box">
                    <img src="img/portfolio/Dana.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                VP
                            </div>
                            <div class="project-name">
                                Dana
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
