<section id="courses"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Resources</h2>
                <hr class="primary">
                <p>Great ways to get started learning about AI!</p>
            </div>
        </div>
        <div class="row">
            <table class="table table-hover table-bordered table-striped">
                <thead>
                  <tr>
                    <th scope="col">Technology</th>
                    <th scope="col">Description</th>
                    <th scope="col">Institution</th>
                  </tr>
                </thead>
                <tbody class="post">
                </tbody>
            </table>
        </div>
    </div>
</section>