<section class="bg-dark" id="events">
  <div class="container">
        <div class="row">
            <div class="col-lg-17 text-center">
                <h2 class="section-heading">AIIA Events in Spring 2021</h2>
		    <p>  </p>
		    <p>  </p>
            </div>
        </div>
  </div>
  <div class="container-fluid centered-table">
        <div class="row no-gutter centered-table">
		
            <div class="col-xs-6 col-sm-4  text-center">
                <a class="portfolio-box" target="_blank">
                    <img src="img/AIIA_Disinformation Panel.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Feb 2, 2021 - 12pm EST
                            </div>
                            <div class="project-name">
                                AI and Disinformation
                            </div>
                        </div>
                    </div>
                </a>
            </div>
		
            <div class="col-xs-6 col-sm-4 text-center">
                <a class="portfolio-box" target="_blank">
                    <img src="img/AIIA_Explainability_Panel.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Feb 2, 2021 - 3pm EST
                            </div>
                            <div class="project-name">
                                Explainability in Practice
                            </div>
                        </div>
                    </div>
                </a>
		<p> </p>
      		<a href="https://vimeo.com/528521553" class="btn btn-default btn-xl" target="_blank">View event recording</a>
            </div>
		
            <div class="col-xs-6 col-sm-4  text-center">
                <a class="portfolio-box" target="_blank">
                    <img src="img/AIIA_New Approaches Panel.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                March 11, 2021 - 3:30pm EST
                            </div>
                            <div class="project-name">
                                New Approaches to AI Ethical Frameworks and Governance
                            </div>
                        </div>
                    </div>
                </a>
		<p> </p>
      		<a href="https://vimeo.com/522929663" class="btn btn-default btn-xl" target="_blank">View event recording</a>
		<p> </p>
            </div>
		
	</div>
    </div>
	
<div class="container">
        <div class="row">
            <div class="col-lg-17 text-center">
		    <p>  </p>
		    <p>  </p>
                <h2 class="section-heading">Career Events in Spring 2021</h2>
		    <p>  </p>
		    <p>  </p>
            </div>
        </div>
  </div>
	
<div class="container-fluid centered-table">
  <div class="row no-gutter centered-table">
    
    <div class="col-sm-6 text-center">
      <a class="portfolio-box" target="_blank">
                    <img src="img/Career Chat_Allen (knet).png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                April 21, 2021 - 12pm EST
                            </div>
                            <div class="project-name">
                                Careers in Public Tech
                            </div>
                        </div>
                    </div>
                </a>
		<p> </p>
      		<a href="https://knet.hks.harvard.edu/DPSA/Student-Life/Student-Events-Calendar/Lists/Events/HKSEventDisplayForm.aspx?ID=1053" class="btn btn-default btn-xl" target="_blank">Sign up here</a>
    </div>
 
    <div class="col-sm-6 text-center">
     <a class="portfolio-box" target="_blank">
                    <img src="img/Career Chat_Anastasoff (knet).png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                April 22, 2021 - 1:30pm EST
                            </div>
                            <div class="project-name">
                                Careers in Public Tech
                            </div>
                        </div>
                    </div>
                </a>
		<p> </p>
      		<a href="https://knet.hks.harvard.edu/DPSA/Student-Life/Student-Events-Calendar/Lists/Events/HKSEventDisplayForm.aspx?ID=1054" class="btn btn-default btn-xl" target="_blank">Sign up here</a>
    </div>

 </div>
</div>
	
</section>
