<section class="bg-dark" id="events">
  <div class="container">
        <div class="row">
            <div class="col-lg-17 text-center">
                <h2 class="section-heading">AIIA Events in Spring 2021</h2>
		    <h2 class="section-heading">  </h2>
            </div>
        </div>
  </div>
  <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-6 col-sm-6">
                <a href="https://bit.ly/3cuJBRh" class="portfolio-box">
                    <img src="img/AIIA_Disinformation Panel.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Feb 2, 2021 - 12pm EST
                            </div>
                            <div class="project-name">
                                AI and Disinformation
                            </div>
                        </div>
                    </div>
                </a>
		    	    <p>  </p>
		<div class="d-flex justify-content-center">
	                <a href="https://bit.ly/3cuJBRh" class="btn btn-default btn-xl">Sign up here!</a>
		</div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <a href="https://bit.ly/2MAglxl" class="portfolio-box">
                    <img src="img/AIIA_Explainability_Panel.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Feb 2, 2021 - 3pm EST
                            </div>
                            <div class="project-name">
                                Explainability in Practice
                            </div>
                        </div>
                    </div>
                </a>
		    	    <p>  </p>
		<div class="d-flex justify-content-center">
                <button href="https://bit.ly/2MAglxl" class="btn btn-default btn-xl">Sign up here!</button>
		</div>
            </div>
	</div>
    </div>
</section>
