<section id="resources">
	<div class="page-section notoppadding">
					<h2 class="divcenter bottommargin font-body" style="max-width: 700px; font-size: 40px; text-align: center;">What We Do</h2>
					<p class="divcenter" style="max-width: 700px;">We want to help build a strong foundation for applied AI, grounded in social impact. In order to do this, our goal is to help build relationships between technologists, community members, and community activists most directly impacted by systemic injustice. In order to build relationships, we offer trainings that bring together community/activists and engineers/designers/product managers.</p>
					<div class="col_full bottommargin-lg common-height">
						<div class="col-md-6 dark col-padding ohidden" style="background-color: #3B8CA8;">
							<div>
								<h3 class="uppercase" style="font-weight: 600;">Session 1: Getting Oriented</h3>
								<p style="line-height: 1.8;">This session is broken down into two parallel trainings for technologists and community activists, respectively.</p>
								<h4 class="uppercase">Introduction into movement building</h4>
								<p style="line-height: 1.8;">In this session, we discuss the importance of building technological tools with communities rather than for them, and introduce technologists to social tools for building and maintaining trustful relationships with activists.</p>
								<h4 class="uppercase" style="font-weight: 600;">AI and its social impacts</h4>
								<p style="line-height: 1.8;">In this session, we discuss the basic structure and methodology of artificial intelligence algorithms, before moving into an analysis of the social impact this field currently has and will continue to have in the global economy.</p>
								<i class="icon-cog bgicon"></i>
							</div>
						</div>
						<div class="col-md-6 dark col-padding ohidden" style="background-color: #3BA88E;">
							<div>
								<h3 class="uppercase" style="font-weight: 600;">Session 2: Building Things Together</h3>
								<p style="line-height: 1.8;">In the second session, we bring community activists and technologists together to do some active relationship building and project brainstorming. This session starts with activities for developing trust, before moving into active brainstorming of projects to work on together.</p>
								<i class="icon-users bgicon"></i>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<p class="divcenter" style="max-width: 500px;"><b>If you are in the tech world and would like to build relationships with community activists in your area, <a href="#" data-scrollto="#section-contact">get in touch with us!</a></b></p>
					<p class="divcenter" style="max-width: 500px;"><b>If you are a community activist looking to know more about artificial intelligence and its social implications, <a href="#" data-scrollto="#section-contact">get in touch with us!</a></b></p>
	</div>
</section>
