<section id="resources">
	<div class="container">
        	<div class="row">
            	<div class="col-lg-12 text-center">
                	<h2 class="section-heading">Resources</h2>
	                <hr class="primary">
        	    </div>
	        </div>
	</div>
	
	<div class="container">
		<div class="col_full bottommargin-lg common-height">
			<div class="col-md-6 dark col-padding ohidden" style="background-color: #3B8CA8;">
				<div>
					<h3 class="uppercase" style="font-weight: 600;">Session 1: Getting Oriented</h3>
					<p style="line-height: 1.8;">This session is broken down into two parallel trainings for technologists and community activists, respectively.</p>
					<h4 class="uppercase">Introduction into movement building</h4>
					<p style="line-height: 1.8;">In this session, we discuss the importance of building technological tools with communities rather than for them, and introduce technologists to social tools for building and maintaining trustful relationships with activists.</p>
					<h4 class="uppercase" style="font-weight: 600;">AI and its social impacts</h4>
					<p style="line-height: 1.8;">In this session, we discuss the basic structure and methodology of artificial intelligence algorithms, before moving into an analysis of the social impact this field currently has and will continue to have in the global economy.</p>
					<i class="icon-cog bgicon"></i>
				</div>
			</div>
			<div class="col-md-6 dark col-padding ohidden" style="background-color: #3BA88E;">
				<div>
					<h3 class="uppercase" style="font-weight: 600;">Session 2: Building Things Together</h3>
					<p style="line-height: 1.8;">In the second session, we bring community activists and technologists together to do some active relationship building and project brainstorming. This session starts with activities for developing trust, before moving into active brainstorming of projects to work on together.</p>
					<i class="icon-users bgicon"></i>
				</div>
			</div>
			<div class="clear"></div>
			</div>
	</div>
</section>
